<main>
  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2 image">
          <img src={{skillsUrl}} alt="">
        </div>
        <div class="col skills">
          <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col d-flex flex-column gap-2 soft">
              <h4>Soft Skills</h4>
              <li class="text-body-secondary">Communication</li>
              <li class="text-body-secondary">Teamwork</li>
              <li class="text-body-secondary">Adaptability</li>
              <li class="text-body-secondary">Problem Solving</li>
              <li class="text-body-secondary">Crirtical Thinking</li>
              <h4>Technical Skills</h4>
              <li class="text-body-secondary"><b>Java</b> – Strong Knowledge in OOPS Concepts, Exception Handling, Collection, Multithreading, Array and String.</li>
              <li class="text-body-secondary"><b>J2EE</b> – Strong Knowledge in Servlet and JSP</li>
              <li class="text-body-secondary"><b>HTML</b> – Expert in anchor tag, paragraph tag, list tags, Form tags, Semantic Tags and Table tags, Multimedia tags</li>
              <li class="text-body-secondary"><b>CSS</b> – Expert in Box Model, Float Properties, Position, Selectors, Layouts and Flexbox.</li>
              <li class="text-body-secondary"><b>JavaScript</b> – Except in Operators, Control Statement, Array, Looping Statement, Function, Events and Form Validation using DOM</li>
              <li class="text-body-secondary"><b>Angular</b> – Expert in Typescript, Component, Module, Directive, Service, Binding, Template – Driven Form, Reactive Form, HTTP service and Routing & Navigation.</li>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>
<app-footer></app-footer>