<main>
    <div class="row mb-2">
        <div class="col-md-6 box">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative project">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Core Java</strong>
              <h3 class="mb-0">Designed and Develop Bus Ticket Vending Machine</h3>
              <div class="mb-1 text-body-secondary">12/2018-01/2019</div>
              <li class="card-text mb-auto">Designed and implemented a automatic ticket machine.</li>
              <li class="card-text mb-auto">Create a project using only Core Java and MySql</li>
              <a (click)="busTicket()" class="icon-link gap-1 icon-link-hover stretched-link">
                View Project
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block image">
              <img class="bd-placeholder-img" src={{ticketUrl}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative project">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Core Java</strong>
                <h3 class="mb-0">Pos For Retail Stores</h3>
                <div class="mb-1 text-body-secondary">07/2023 - 08/2023</div>
                <li class="card-text mb-auto">Designed and implemented a pos billing for retail stores.</li>
                <li class="card-text mb-auto">Create a project using only Core Java and MySql</li>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  View Project
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block image">
                <img class="bd-placeholder-img" src={{posUrl}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative project">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Angular</strong>
                <h3 class="mb-0">E-Commerce Website</h3>
                <div class="mb-1 text-body-secondary">07/2023 - 07/2023</div>
                <li class="card-text mb-auto">Designed and implemented a complete ecommerce.</li>
                <li class="card-text mb-auto">Create a project using Angularand Firebase</li>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  View Project
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block image">
                <img class="bd-placeholder-img" src={{ecommerceUrl}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative project">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Advanced Java</strong>
                <h3 class="mb-0">DESIGNED AND DEVELOP REGISTER AND LOGIN FORM</h3>
                <div class="mb-1 text-body-secondary">05/2023-05/2023</div>
                <li class="card-text mb-auto">Designed and implemented a dynamic web page for login and Register Form.</li>
                <li class="card-text mb-auto">Create a web page using only HTML,CSS,JavaScript and J2EE as a project.</li>
                <a (click)="login()" class="icon-link gap-1 icon-link-hover stretched-link">
                  View Project
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block image">
                <img class="bd-placeholder-img" src={{loginUrl}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              </div>
            </div>
          </div>
    </div> 
</main>
<app-footer></app-footer>