<main>
    <div class="container">
        <div class="row">
            <div class="col-4 text-center profileimg">
                <img src="assets/myImage.png" alt="profie photo">
            </div>
            <div class="col-8 details">
                <p class="welcome">HI THERE</p>
                <h1 class="name">I'M Java Developer</h1>
                <p class="about">Highly skilled and motivated trained fresher Software Engineer with a focus on web application 
                    development and design. Proficient in full-stack development using HTML, CSS, JavaScript, Angular, MySQL, Java, and 
                    J2EE. Outstanding communicator and highly organized individual with a passion for problem-solving and creating 
                    efficient, maintainable code. Seeking an opportunity to contribute my skills and knowledge to a challenging 
                    organization and drive its growth and success.
                </p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>